<div id="rest-card" class="container">
  <h1><%= @restaurant.name %></h1>
  <h3><%= @restaurant.phone_number %></h3>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.category %></p>
  <br>
  <br>
</div>
<br>
<br>

<h2 class="container" id="reviews-table">"<%= @restaurant.name %>" Reviews:</h2>
<div class="container">
  <table>
    <thead>
      <tr>
        <th>Rating</th>
        <th>Review</th>
      </tr>
    </thead>
    <% @restaurant.reviews.each do |review| %>
    <tbody>
      <tr>
      <td><%= "⭐️" * (review.rating) %></td>
      <td><%= review.content %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
  <br>
  <br>
</div>

<div class="container" id="form-card">
  <h2>Add Your Review:</h2>
  <%= simple_form_for( [@restaurant, @review] ) do |f| %>
    <%= f.input :rating, collection: [1, 2, 3, 4, 5] %>
    <%= f.input :content %>
    <%= f.button :submit, 'Submit your review' %>
  <% end %>
  <%= link_to 'Homepage', restaurants_path %>
</div>
